---
BasedOnStyle: LLVM
AccessModifierOffset: '-4'
AlignOperands: true
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: 'Left'
AllowAllParametersOfDeclarationOnNextLine: true
# AlignConsecutiveAssignments: 'true'
AllowShortFunctionsOnASingleLine: All
SpacesBeforeTrailingComments: 2
AlwaysBreakTemplateDeclarations: MultiLine
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
IncludeBlocks: Regroup
UseTab: Never
SortIncludes: true
PointerAlignment: Left
IndentCaseLabels: true
ColumnLimit: 100
...
